In [1]:
import numpy as np
import pandas as pd
# import matplotlib.pyplot as plt
from datetime import datetime, timedelta

In [2]:
sample = pd.read_csv('day_summary2.csv',parse_dates=['arrival_actual_estimated','arrival_scheduled'])

In [3]:
sample.head()

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
0,MV_B6-Weekday-SDon-047900_M5_223,402857,2,2016-06-13 13:34:56.533000,0 days 00:00:03.576000,2016-06-13 13:19:25
1,MV_B6-Weekday-SDon-047900_M5_223,450123,5,2016-06-13 13:18:51.104000,0 days 00:01:28.583000,2016-06-13 13:02:14
2,MV_B6-Weekday-SDon-047900_M5_223,400811,0,NaT,NaN,2016-06-13 12:01:53
3,MV_B6-Weekday-SDon-047900_M5_223,400518,3,2016-06-13 13:24:27.371000,0 days 00:00:09.232000,2016-06-13 13:08:00
4,MV_B6-Weekday-SDon-047900_M5_223,903233,3,2016-06-13 13:04:51.493000,0 days 00:00:28.712000,2016-06-13 12:50:00

In [4]:
len(sample)

15325

In [7]:
print len(sample.trip_id.unique())
print len(sample.stop_id.unique())

213
184

In [8]:
len(sample.arrival_scheduled.unique())

12876

In [9]:
sample[sample['stop_id'] == 450123]

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
1,MV_B6-Weekday-SDon-047900_M5_223,450123,5,2016-06-13 13:18:51.104,0 days 00:01:28.583000,2016-06-13 13:02:14
340,MV_B6-Weekday-SDon-049300_M5_221,450123,5,2016-06-13 13:28:25.992,0 days 00:01:29.228000,2016-06-13 13:16:14
411,MV_B6-Weekday-SDon-048500_M5_203,450123,2,2016-06-13 13:14:30.111,0 days 00:00:27.056000,2016-06-13 13:09:14
549,MV_B6-Weekday-SDon-051700_M5_224,450123,5,2016-06-13 13:37:53.396,0 days 00:01:59.314000,2016-06-13 13:40:14
687,MV_B6-Weekday-SDon-046700_M5_218,450123,3,2016-06-13 13:08:24.020,0 days 00:01:19.639000,2016-06-13 12:51:14
892,MV_B6-Weekday-SDon-050900_M5_228,450123,5,2016-06-13 13:45:00.166,0 days 00:01:40.610000,2016-06-13 13:32:14
963,MV_B6-Weekday-SDon-054500_M5_207,450123,4,2016-06-13 14:10:00.099,0 days 00:01:30.032000,2016-06-13 14:08:14
1034,MV_B6-Weekday-SDon-056500_M5_203,450123,0,NaT,NaN,2016-06-13 14:28:14
1239,MV_B6-Weekday-SDon-057500_M5_206,450123,8,2016-06-13 14:33:29.361,0 days 00:02:39.867000,2016-06-13 14:38:14
1310,MV_B6-Weekday-SDon-052500_M5_226,450123,6,2016-06-13 13:49:28.597,0 days 00:01:40.049000,2016-06-13 13:48:14
1448,MV_B6-Weekday-SDon-055500_M5_202,450123,3,2016-06-13 14:25:00.113,0 days 00:00:12.862000,2016-06-13 14:18:14
1519,MV_B6-Weekday-SDon-047300_M5_222,450123,4,2016-06-13 12:59:23.498,0 days 00:01:16.833000,2016-06-13 12:56:14
1590,MV_B6-Weekday-SDon-046100_M5_202,450123,3,2016-06-13 12:47:45.983,0 days 00:01:31.041000,2016-06-13 12:45:14
1661,MV_B6-Weekday-SDon-043400_M5_214,450123,7,2016-06-13 12:11:45.281,0 days 00:02:19.634000,2016-06-13 12:14:52
1732,MV_B6-Weekday-SDon-044900_M5_219,450123,3,2016-06-13 12:45:30.303,0 days 00:01:05.296000,2016-06-13 12:31:52
1802,MV_B6-Weekday-SDon-045700_M5_220,450123,2,2016-06-13 12:24:30.151,0 days 00:00:59.932000,2016-06-13 12:19:52
1861,MV_B6-Weekday-SDon-042900_M5_212,450123,2,2016-06-13 12:10:13.505,0 days 00:00:17.501000,2016-06-13 12:05:50
1999,MV_B6-Weekday-SDon-045500_M5_201,450123,3,2016-06-13 12:45:30.303,0 days 00:01:05.296000,2016-06-13 12:37:52
2070,MV_B6-Weekday-SDon-044300_M5_215,450123,3,2016-06-13 12:35:30.137,0 days 00:00:34.216000,2016-06-13 12:25:52
2141,MV_B6-Weekday-SDon-050100_M5_227,450123,0,NaT,NaN,2016-06-13 13:24:14
2412,MV_B6-Weekday-SDon-043500_M5_217,450123,3,2016-06-13 11:54:00.149,0 days 00:01:29.971000,2016-06-13 11:51:50
2471,MV_B6-Weekday-SDon-042300_M5_216,450123,2,2016-06-13 12:01:30.133,0 days 00:00:07.818000,2016-06-13 11:59:50
2609,MV_B6-Weekday-SDon-041000_M5_213,450123,3,2016-06-13 11:56:30.083,0 days 00:00:38.699000,2016-06-13 11:42:50
2680,MV_B6-Weekday-SDon-040000_M5_210,450123,4,2016-06-13 11:32:58.744,0 days 00:00:36.788000,2016-06-13 11:31:28
2860,MV_B6-Weekday-SDon-038800_M5_211,450123,2,2016-06-13 11:18:46.664,0 days 00:01:13.500000,2016-06-13 11:18:28
3044,MV_B6-Weekday-SDon-037600_M5_209,450123,4,2016-06-13 11:10:59.463,0 days 00:01:11.801000,2016-06-13 11:06:09
3139,MV_B6-Weekday-SDon-036400_M5_208,450123,3,2016-06-13 10:54:25.903,0 days 00:00:14.273000,2016-06-13 10:53:09
3297,MV_B6-Weekday-SDon-071100_M5_225,450123,5,2016-06-13 17:00:00.628,0 days 00:01:39.562000,2016-06-13 17:02:18
3368,MV_B6-Weekday-SDon-062700_M5_210,450123,5,2016-06-13 15:47:28.892,0 days 00:01:14.034000,2016-06-13 15:32:14
3439,MV_B6-Weekday-SDon-065100_M5_217,450123,5,2016-06-13 16:05:29.228,0 days 00:01:33.367000,2016-06-13 16:02:18
...,...,...,...,...,...,...
9413,MV_B6-Weekday-SDon-094500_M5_246,450123,3,2016-06-13 21:01:46.577,0 days 00:01:13.552000,2016-06-13 20:56:18
9618,MV_B6-Weekday-SDon-098100_M5_248,450123,3,2016-06-13 21:38:00.032,0 days 00:01:22.207000,2016-06-13 21:32:18
9689,MV_B6-Weekday-SDon-096900_M5_247,450123,4,2016-06-13 21:35:21.854,0 days 00:00:39.259000,2016-06-13 21:20:18
10095,MV_B6-Weekday-SDon-092300_M5_234,450123,3,2016-06-13 20:47:27.094,0 days 00:00:40.204000,2016-06-13 20:34:18
10233,MV_B6-Weekday-SDon-100500_M4_135,450123,7,2016-06-13 22:00:00.229,0 days 00:02:18.828000,2016-06-13 21:56:18
10371,MV_B6-Weekday-SDon-104100_M5_249,450123,12,2016-06-13 22:32:30.130,0 days 00:05:55.624000,2016-06-13 22:31:18
10643,MV_B6-Weekday-SDon-108000_M4_140,450123,5,2016-06-13 23:24:58.460,0 days 00:01:28.676000,2016-06-13 23:10:18
10714,MV_B6-Weekday-SDon-106500_M5_252,450123,5,2016-06-13 23:20:24.700,0 days 00:01:20.311000,2016-06-13 22:56:18
10852,MV_B6-Weekday-SDon-105300_M4_136,450123,5,2016-06-13 22:56:24.999,0 days 00:02:21.546000,2016-06-13 22:43:18
11124,MV_B6-Weekday-SDon-109500_M5_237,450123,5,2016-06-13 23:30:59.321,0 days 00:01:22.252000,2016-06-13 23:25:18
11266,MV_B6-Weekday-SDon-111000_M5_253,450123,2,2016-06-13 23:45:00.146,0 days 00:00:02.573000,2016-06-13 23:38:57
11516,MV_B6-Weekday-SDon-112500_M5_240,450123,3,2016-06-13 23:56:53.904,0 days 00:00:07.999000,2016-06-13 23:52:35
11611,MV_B6-Weekday-SDon-114000_M4_139,450123,0,NaT,NaN,2016-06-14 00:02:35
11794,MV_B6-Weekday-SDon-115500_M5_239,450123,0,NaT,NaN,2016-06-14 00:15:33
12153,MV_B6-Weekday-SDon-118500_M5_244,450123,0,NaT,NaN,2016-06-14 00:42:31
12248,MV_B6-Weekday-SDon-120000_M5_245,450123,2,2016-06-14 01:01:30.122,0 days 00:00:11.836000,2016-06-14 00:57:31
12343,MV_B6-Weekday-SDon-117000_M5_243,450123,1,2016-06-14 00:34:06.352,0 days 00:00:00,2016-06-14 00:29:33
12526,MV_B6-Weekday-SDon-121500_M5_246,450123,0,NaT,NaN,2016-06-14 01:12:31
12797,MV_B6-Weekday-SDon-123000_M5_247,450123,1,2016-06-14 01:32:30.144,0 days 00:00:00,2016-06-14 01:27:31
13156,MV_B6-Weekday-SDon-124500_M5_248,450123,1,2016-06-14 01:41:49.380,0 days 00:00:00,2016-06-14 01:41:09
13251,MV_B6-Weekday-SDon-126500_M5_251,450123,1,2016-06-14 02:16:09.977,0 days 00:00:00,2016-06-14 01:59:09
13678,MV_B6-Weekday-SDon-128500_M5_249,450123,1,2016-06-14 02:25:01.014,0 days 00:00:00,2016-06-14 02:17:09
13861,MV_B6-Weekday-SDon-130500_M5_252,450123,1,2016-06-14 02:40:15.226,0 days 00:00:00,2016-06-14 02:36:09
13956,MV_B6-Weekday-SDon-132500_M4_140,450123,1,2016-06-14 03:10:06.332,0 days 00:00:00,2016-06-14 02:55:09
14302,MV_B6-Weekday-SDon-026000_M5_201,450123,1,2016-06-13 08:48:30.556,0 days 00:00:00,2016-06-13 08:49:48
14569,MV_B6-Weekday-SDon-087300_M4_130,450123,9,2016-06-13 19:54:42.882,0 days 00:03:13.119000,2016-06-13 19:44:18
14707,MV_B6-Weekday-SDon-085300_M4_107,450123,3,2016-06-13 19:26:09.856,0 days 00:00:59.811000,2016-06-13 19:24:18
14778,MV_B6-Weekday-SDon-084300_M5_206,450123,5,2016-06-13 19:10:09.886,0 days 00:03:20.251000,2016-06-13 19:14:18
14849,MV_B6-Weekday-SDon-086300_M4_105,450123,5,2016-06-13 19:33:00.107,0 days 00:01:30.053000,2016-06-13 19:34:18
15121,MV_B6-Weekday-SDon-058500_M5_209,450123,2,2016-06-13 15:00:00.440,0 days 00:00:12.621000,2016-06-13 14:47:33

In the sample data,there are 213 unique trips and 184 unique stops.

In [10]:
sample_drop = sample.dropna()

In [11]:
len(sample) - len(sample_drop)

3996

### Explore NAN item

In [12]:
data_na = sample[sample['N'] == 0]

In [13]:
data_na.head()

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
2,MV_B6-Weekday-SDon-047900_M5_223,400811,0,NaT,NaN,2016-06-13 12:01:53
13,MV_B6-Weekday-SDon-047900_M5_223,400153,0,NaT,NaN,2016-06-13 13:24:13
27,MV_B6-Weekday-SDon-047900_M5_223,400808,0,NaT,NaN,2016-06-13 11:59:00
41,MV_B6-Weekday-SDon-047900_M5_223,400834,0,NaT,NaN,2016-06-13 12:22:53
45,MV_B6-Weekday-SDon-047900_M5_223,400838,0,NaT,NaN,2016-06-13 12:25:34

In [14]:
len(data_na)

3996

In [15]:
print len(data_na['trip_id'].unique())
print len(data_na['stop_id'].unique())

213
184

In [16]:
trip_num = data_na.groupby(data_na['trip_id']).count()

In [17]:
## Trip id and number of nan each trip has
trip_num['N'].head()

trip_id
MV_B6-Weekday-SDon-026000_M5_201    30
MV_B6-Weekday-SDon-028000_M5_202    30
MV_B6-Weekday-SDon-030000_M5_203    24
MV_B6-Weekday-SDon-032000_M5_204    32
MV_B6-Weekday-SDon-032500_M5_205     7
Name: N, dtype: int64

In [18]:
trip_num['N'].mean()

18.760563380281692

In [19]:
trip_num['N'].std()

12.00290623856037

In [20]:
stop_num = data_na.groupby(data_na['stop_id']).count()

In [21]:
## Stop id and number of nan each stop has
stop_num['N'].head()

stop_id
400069    44
400070    37
400071    30
400153    35
400154    47
Name: N, dtype: int64

In [22]:
stop_num['N'].mean()

21.717391304347824

In [23]:
stop_num['N'].std()

14.200227880074467

## Matthew's comments
You can use the DataFrame.count() method -- it only counts the number of non-null values.  That can be combined with GroupBy to return a count for each grouping. 

That saves you the trouble of making the separate data_na object.

Along the same route, trips can make different number of stops.  The problem with looking ONLY at the number of unmeasured stops is that it's not normalized.  This shows both the count of values of "arrival_actual_estimated" and the count of stops.

In [25]:
sample.groupby('trip_id').count().head(10)

,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
trip_id,,,,,
MV_B6-Weekday-SDon-026000_M5_201,77,77,47,47,77
MV_B6-Weekday-SDon-028000_M5_202,77,77,47,47,77
MV_B6-Weekday-SDon-030000_M5_203,77,77,53,53,77
MV_B6-Weekday-SDon-032000_M5_204,77,77,45,45,77
MV_B6-Weekday-SDon-032500_M5_205,21,21,14,14,21
MV_B6-Weekday-SDon-033500_M5_201,88,88,66,66,88
MV_B6-Weekday-SDon-033600_M5_206,77,77,48,48,77
MV_B6-Weekday-SDon-035000_M5_205,95,95,66,66,95
MV_B6-Weekday-SDon-035100_M5_207,77,77,48,48,77
MV_B6-Weekday-SDon-036400_M5_208,95,95,69,69,95

#### Distribution of NAN trips and stops

### Take on trip as example, Calculate the headways

In [29]:
data222 = sample[sample['trip_id'] == 'MV_B6-Weekday-SDon-098500_M5_222']

In [30]:
data222.head()

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
9826,MV_B6-Weekday-SDon-098500_M5_222,404992,5,2016-06-13 21:20:14.429,0 days 00:02:10.372000,2016-06-13 21:20:00
9827,MV_B6-Weekday-SDon-098500_M5_222,400768,1,2016-06-13 21:53:54.783,0 days 00:00:00,2016-06-13 21:45:49
9828,MV_B6-Weekday-SDon-098500_M5_222,400771,2,2016-06-13 21:57:30.119,0 days 00:00:43.796000,2016-06-13 21:48:26
9829,MV_B6-Weekday-SDon-098500_M5_222,400772,1,2016-06-13 21:58:40.152,0 days 00:00:00,2016-06-13 21:49:04
9830,MV_B6-Weekday-SDon-098500_M5_222,404054,4,2016-06-13 21:48:30.153,0 days 00:00:59.932000,2016-06-13 21:41:53

In [31]:
data222[data222['N']==0]

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
9842,MV_B6-Weekday-SDon-098500_M5_222,400796,0,NaT,NaN,2016-06-13 22:13:38
9858,MV_B6-Weekday-SDon-098500_M5_222,404289,0,NaT,NaN,2016-06-13 21:34:32
9890,MV_B6-Weekday-SDon-098500_M5_222,400762,0,NaT,NaN,2016-06-13 21:40:55

In [32]:
data222_sort = data222[data222['N']!=0].sort(columns=
          ['arrival_scheduled'])

C:\Anaconda3\envs\py27\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [33]:
headway222 = pd.DataFrame(data222_sort['arrival_actual_estimated'].diff())

In [34]:
headway222['arrival_scheduled'] = pd.DataFrame(data222_sort['arrival_scheduled'].diff())

## Matthew's comments
Here are the dangers that may arise as you continue:

The trips may not be in the same order they were scheduled.  (You address that by making two separate dataframes, but I think data222_sort['arrival_actual_estimated'] may be out-of-order.

When applying this to a dataframe with lots of trips, you'll get errors when using .diff() at the "border" between groups of data, without first using a GroupBy.

In [27]:
sample.sort_values(['stop_id','arrival_scheduled']).groupby('stop_id')['arrival_scheduled'].diff().head(10)

5480        NaT
2961   00:30:00
2802   00:20:00
2576   00:15:00
2313   00:15:00
1966   00:15:00
2380   00:15:00
2246   00:15:00
1206   00:15:00
792    00:15:24
dtype: timedelta64[ns]

#### Distributions of two groups of time

In [26]:
headway222.mean()

arrival_actual_estimated   00:01:42.659301
arrival_scheduled          00:01:47.619047
dtype: timedelta64[ns]

In [27]:
headway222.std()

arrival_actual_estimated   00:01:44.385549
arrival_scheduled          00:01:21.299809
dtype: timedelta64[ns]

## Matthew's comments
The only thing is that the headway should be measured at each stop.

Also, there's still the problem of stops with no data.

First option method:

drop any missing ones because you don't know if there was a bus.  So the larger value for headway may be an error.

Second option:

leave in the missing ones because there probably was never a bus.  So the larger value for headway is correct.

### Take on trip as example, Calculate Wait Assessment

In [42]:
## AM peak hour:6:00-9:00
## PM peak hour:16:00-19:00
## Bus:+3 mins (Peak), +5 mins (Off-Peak)

In [84]:
## Sort the data by trip_id and schedule time
## Look at the original time table, figure out the peak hour
## Calculate the headways of each bus trips among each stops
## Calculate the difference between scheduled headway and estimated headway
## Use the threthold: +3 mins (Peak), +5 mins (Off-Peak)
## Add a binary column

In [86]:
sort = sample.sort(columns=
          ['trip_id', 'arrival_scheduled'])

/Users/MISSZHOU/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

## Matthew's comments
Let's first calculate the difference between the scheduled headway and actual headway.

In [38]:
# this uses the groupby to ensure it only does the diff() between sequential members of the same group
sample['scheduled_headway'] = sample.sort_values(['stop_id','arrival_scheduled']).groupby('stop_id')['arrival_scheduled'].diff()
# note that when I do actual headway, I am NOT dealing with the missing values.  This assumes that the bus never came for those trips.
sample['actual_headway'] = sample.sort_values(['stop_id','arrival_actual_estimated']).groupby('stop_id')['arrival_actual_estimated'].diff()

Then calculate the difference between the two for each bus arrival.  (ewt means Excess Wait Time).

Finally, you can summary the ewt values.

In [40]:
ewt = sample['actual_headway']-sample['scheduled_headway']

In [49]:
# percentage of actual headways that are more than 5 minutes longer than scheduled headway
float(sum(ewt > timedelta(minutes=5)))/len(ewt)

0.25827079934747144

# code below here is disorganized

In [87]:
sort

,trip_id,stop_id,N,arrival_actual_estimated,timespan,arrival_scheduled
14319,MV_B6-Weekday-SDon-026000_M5_201,404011,0,NaT,NaN,2016-06-13 08:20:00
14320,MV_B6-Weekday-SDon-026000_M5_201,404012,0,NaT,NaN,2016-06-13 08:20:22
14348,MV_B6-Weekday-SDon-026000_M5_201,404822,0,NaT,NaN,2016-06-13 08:22:04
14312,MV_B6-Weekday-SDon-026000_M5_201,404259,0,NaT,NaN,2016-06-13 08:23:14
14328,MV_B6-Weekday-SDon-026000_M5_201,400832,0,NaT,NaN,2016-06-13 08:23:32
14329,MV_B6-Weekday-SDon-026000_M5_201,400833,0,NaT,NaN,2016-06-13 08:23:45
14330,MV_B6-Weekday-SDon-026000_M5_201,400834,1,2016-06-13 08:26:41.348,0 days 00:00:00,2016-06-13 08:24:17
14331,MV_B6-Weekday-SDon-026000_M5_201,400835,0,NaT,NaN,2016-06-13 08:24:41
14332,MV_B6-Weekday-SDon-026000_M5_201,400836,1,2016-06-13 08:27:14.758,0 days 00:00:00,2016-06-13 08:25:02
14333,MV_B6-Weekday-SDon-026000_M5_201,400837,0,NaT,NaN,2016-06-13 08:25:50
14334,MV_B6-Weekday-SDon-026000_M5_201,400838,1,2016-06-13 08:27:50.318,0 days 00:00:00,2016-06-13 08:26:14
14311,MV_B6-Weekday-SDon-026000_M5_201,404130,1,2016-06-13 08:28:30.118,0 days 00:00:00,2016-06-13 08:26:39
14336,MV_B6-Weekday-SDon-026000_M5_201,400840,1,2016-06-13 08:29:10.547,0 days 00:00:00,2016-06-13 08:27:27
14337,MV_B6-Weekday-SDon-026000_M5_201,400841,0,NaT,NaN,2016-06-13 08:28:00
14345,MV_B6-Weekday-SDon-026000_M5_201,404131,0,NaT,NaN,2016-06-13 08:28:52
14339,MV_B6-Weekday-SDon-026000_M5_201,400843,1,2016-06-13 08:29:48.347,0 days 00:00:00,2016-06-13 08:29:43
14364,MV_B6-Weekday-SDon-026000_M5_201,404855,1,2016-06-13 08:30:23.763,0 days 00:00:00,2016-06-13 08:30:23
14341,MV_B6-Weekday-SDon-026000_M5_201,400846,0,NaT,NaN,2016-06-13 08:31:17
14342,MV_B6-Weekday-SDon-026000_M5_201,400847,2,2016-06-13 08:31:00.122,0 days 00:00:01.655000,2016-06-13 08:31:51
14343,MV_B6-Weekday-SDon-026000_M5_201,400848,0,NaT,NaN,2016-06-13 08:32:27
14344,MV_B6-Weekday-SDon-026000_M5_201,400849,1,2016-06-13 08:31:39.459,0 days 00:00:00,2016-06-13 08:33:00
14362,MV_B6-Weekday-SDon-026000_M5_201,400851,1,2016-06-13 08:32:14.827,0 days 00:00:00,2016-06-13 08:34:29
14346,MV_B6-Weekday-SDon-026000_M5_201,400852,0,NaT,NaN,2016-06-13 08:35:22
14347,MV_B6-Weekday-SDon-026000_M5_201,400853,2,2016-06-13 08:33:30.125,0 days 00:00:35.035000,2016-06-13 08:36:39
14363,MV_B6-Weekday-SDon-026000_M5_201,405237,5,2016-06-13 08:34:40.472,0 days 00:01:51.065000,2016-06-13 08:37:30
14356,MV_B6-Weekday-SDon-026000_M5_201,403169,1,2016-06-13 08:37:08.026,0 days 00:00:00,2016-06-13 08:38:34
14349,MV_B6-Weekday-SDon-026000_M5_201,400856,1,2016-06-13 08:37:45.886,0 days 00:00:00,2016-06-13 08:39:15
14350,MV_B6-Weekday-SDon-026000_M5_201,400857,4,2016-06-13 08:38:24.770,0 days 00:01:13.958000,2016-06-13 08:40:11
14351,MV_B6-Weekday-SDon-026000_M5_201,400858,1,2016-06-13 08:40:13.789,0 days 00:00:00,2016-06-13 08:41:04
14353,MV_B6-Weekday-SDon-026000_M5_201,400860,3,2016-06-13 08:40:50.612,0 days 00:00:37.261000,2016-06-13 08:42:15
...,...,...,...,...,...,...
7650,MV_B6-Weekday-SDon-153000_M4_151,400816,2,2016-06-14 05:49:26.043,0 days 00:00:39.025000,2016-06-14 05:36:14
7657,MV_B6-Weekday-SDon-153000_M4_151,400655,0,NaT,NaN,2016-06-14 05:37:00
7640,MV_B6-Weekday-SDon-153000_M4_151,400656,0,NaT,NaN,2016-06-14 05:37:51
7651,MV_B6-Weekday-SDon-153000_M4_151,400657,2,2016-06-14 05:51:19.083,0 days 00:00:38.556000,2016-06-14 05:38:45
7652,MV_B6-Weekday-SDon-153000_M4_151,400658,0,NaT,NaN,2016-06-14 05:39:22
7653,MV_B6-Weekday-SDon-153000_M4_151,400659,1,2016-06-14 05:53:12.524,0 days 00:00:00,2016-06-14 05:40:17
7641,MV_B6-Weekday-SDon-153000_M4_151,403483,0,NaT,NaN,2016-06-14 05:40:42
7654,MV_B6-Weekday-SDon-153000_M4_151,400661,1,2016-06-14 05:54:24.137,0 days 00:00:00,2016-06-14 05:41:51
7642,MV_B6-Weekday-SDon-153000_M4_151,400662,1,2016-06-14 05:54:59.296,0 days 00:00:00,2016-06-14 05:42:28
7656,MV_B6-Weekday-SDon-153000_M4_151,400663,1,2016-06-14 05:56:11.513,0 days 00:00:00,2016-06-14 05:43:04
7658,MV_B6-Weekday-SDon-153000_M4_151,404011,0,NaT,NaN,2016-06-14 05:44:00
7662,MV_B6-Weekday-SDon-156000_M4_152,400808,0,NaT,NaN,2016-06-14 06:00:00
7663,MV_B6-Weekday-SDon-156000_M4_152,400809,3,2016-06-14 06:00:30.063,0 days 00:02:55.633000,2016-06-14 06:00:52
7664,MV_B6-Weekday-SDon-156000_M4_152,400810,1,2016-06-14 06:04:03.349,0 days 00:00:00,2016-06-14 06:01:33
7665,MV_B6-Weekday-SDon-156000_M4_152,400811,1,2016-06-14 06:05:16.276,0 days 00:00:00,2016-06-14 06:02:15
7666,MV_B6-Weekday-SDon-156000_M4_152,400812,1,2016-06-14 06:05:16.276,0 days 00:00:00,2016-06-14 06:02:44
7674,MV_B6-Weekday-SDon-156000_M4_152,404918,2,2016-06-14 06:06:26.814,0 days 00:00:35.071000,2016-06-14 06:03:57
7667,MV_B6-Weekday-SDon-156000_M4_152,400814,1,2016-06-14 06:08:11.545,0 days 00:00:00,2016-06-14 06:04:58
7668,MV_B6-Weekday-SDon-156000_M4_152,400815,0,NaT,NaN,2016-06-14 06:05:35
7669,MV_B6-Weekday-SDon-156000_M4_152,400816,1,2016-06-14 06:09:22.618,0 days 00:00:00,2016-06-14 06:06:14
7676,MV_B6-Weekday-SDon-156000_M4_152,400655,2,2016-06-14 06:09:22.618,0 days 00:00:35.345000,2016-06-14 06:07:00
7659,MV_B6-Weekday-SDon-156000_M4_152,400656,1,2016-06-14 06:11:07.512,0 days 00:00:00,2016-06-14 06:07:51
7670,MV_B6-Weekday-SDon-156000_M4_152,400657,0,NaT,NaN,2016-06-14 06:08:45
7671,MV_B6-Weekday-SDon-156000_M4_152,400658,1,2016-06-14 06:12:20.009,0 days 00:00:00,2016-06-14 06:09:22
7672,MV_B6-Weekday-SDon-156000_M4_152,400659,2,2016-06-14 06:13:30.121,0 days 00:00:35.135000,2016-06-14 06:10:17
7660,MV_B6-Weekday-SDon-156000_M4_152,403483,2,2016-06-14 06:13:30.121,0 days 00:00:35.135000,2016-06-14 06:10:42
7673,MV_B6-Weekday-SDon-156000_M4_152,400661,1,2016-06-14 06:15:15.894,0 days 00:00:00,2016-06-14 06:11:51
7661,MV_B6-Weekday-SDon-156000_M4_152,400662,2,2016-06-14 06:16:25.846,0 days 00:00:34.817000,2016-06-14 06:12:28
7675,MV_B6-Weekday-SDon-156000_M4_152,400663,1,2016-06-14 06:17:00.663,0 days 00:00:00,2016-06-14 06:13:04
7677,MV_B6-Weekday-SDon-156000_M4_152,404011,0,NaT,NaN,2016-06-14 06:14:00

In [78]:
peak_AM = sample[sample['arrival_scheduled']<'2016-06-13 09:00:00']

In [83]:
peak_AM['arrival_scheduled'].diff()

8449                  NaT
8450    -1 days +23:56:35
8457    -1 days +23:56:46
8458             00:00:22
8466             00:03:10
8467             00:00:13
8468             00:00:32
8469             00:00:24
8470             00:00:21
8471             00:00:48
8472             00:00:24
8474             00:01:13
8475             00:00:33
8477             00:01:43
8479             00:01:34
8480             00:00:34
8481             00:00:36
8482             00:00:33
8483    -1 days +23:55:52
8484             00:06:30
8485             00:01:17
8486    -1 days +23:45:25
8487             00:17:11
8494    -1 days +23:59:19
8500    -1 days +23:55:55
8501             00:03:01
8502    -1 days +23:52:53
14292   -1 days +23:58:52
14294            00:02:00
14295            00:01:45
               ...
14329            00:00:13
14330            00:00:32
14331            00:00:24
14332            00:00:21
14333            00:00:48
14334            00:00:24
14335            00:30:56
14336   -1 days +23:30:17
14337            00:00:33
14338            00:30:43
14339   -1 days +23:31:00
14341            00:01:34
14342            00:00:34
14343            00:00:36
14344            00:00:33
14345   -1 days +23:55:52
14346            00:06:30
14347            00:01:17
14348   -1 days +23:45:25
14349            00:17:11
14350            00:00:56
14351            00:00:53
14353            00:01:11
14354            00:00:56
14356   -1 days +23:55:23
14359            00:06:59
14362   -1 days +23:48:56
14363            00:03:01
14364   -1 days +23:52:53
14366            00:25:26
Name: arrival_scheduled, dtype: timedelta64[ns]

In [144]:
headway222.head()

      arrival_actual_estimated  arrival_scheduled
9883                       NaT                NaT
9850           00:01:44.789000           00:01:46
9861           00:03:20.237000           00:01:31
9862           00:01:42.520000           00:01:37
9863           00:01:47.748000           00:01:31

In [57]:
import dateutil

In [59]:
type(dateutil.parser.parse('09:00:00'))

datetime.datetime

In [70]:
headway222[headway222['arrival_scheduled']+dateutil.parser.parse('00:00:00')> dateutil.parser.parse('09:00:00')]

Empty DataFrame
Columns: [arrival_actual_estimated, arrival_scheduled]
Index: []

pandas.tslib.Timestamp

In [147]:
headway222['threthold'] = headway222['arrival_scheduled']*0.3+headway222['arrival_scheduled']

In [1]:
headway222

NameError: name 'headway222' is not defined

### After checking the locations of each stations with specific station id, I do believe there's no reason to sort the data by 'stop_id'.  
### The unique 'trip_id' means a single trip?

In [89]:
a = '24:23:15'
b = '24:22:30'

In [92]:
from datetime import timedelta
d = timedelta(microseconds=-1)

In [43]:
data2 = data1.sort(columns=
          ['arrival_scheduled'])

/Users/MISSZHOU/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  from ipykernel import kernelapp as app

In [60]:
data2

,trip_id,stop_id,N,arrival_actual_estimated,arrival_scheduled
57,MV_B6-Weekday-SDon-098500_M5_222,803184,6,2016-06-06T20:29:22,16:25:00
24,MV_B6-Weekday-SDon-098500_M5_222,400903,8,2016-06-06T20:33:27,16:26:46
35,MV_B6-Weekday-SDon-098500_M5_222,400069,1,2016-06-06T20:35:35,16:28:17
36,MV_B6-Weekday-SDon-098500_M5_222,400070,2,2016-06-06T20:36:03,16:29:54
37,MV_B6-Weekday-SDon-098500_M5_222,400071,2,2016-06-06T20:37:19,16:31:25
8,MV_B6-Weekday-SDon-098500_M5_222,404108,3,2016-06-06T20:39:00,16:33:00
7,MV_B6-Weekday-SDon-098500_M5_222,404107,4,2016-06-06T20:42:05,16:34:54
18,MV_B6-Weekday-SDon-098500_M5_222,405024,2,2016-06-06T20:45:19,16:37:16
11,MV_B6-Weekday-SDon-098500_M5_222,400913,2,2016-06-06T20:46:52,16:39:33
5,MV_B6-Weekday-SDon-098500_M5_222,403847,2,2016-06-06T20:46:52,16:40:49
13,MV_B6-Weekday-SDon-098500_M5_222,400915,2,2016-06-06T20:48:20,16:42:00
45,MV_B6-Weekday-SDon-098500_M5_222,803160,4,2016-06-06T20:50:11,16:43:52
21,MV_B6-Weekday-SDon-098500_M5_222,404132,1,2016-06-06T20:50:48,16:44:56
14,MV_B6-Weekday-SDon-098500_M5_222,400919,3,2016-06-06T20:52:37,16:46:00
40,MV_B6-Weekday-SDon-098500_M5_222,400723,3,2016-06-06T20:54:26,16:49:25
41,MV_B6-Weekday-SDon-098500_M5_222,400724,2,2016-06-06T20:56:05,16:50:55
42,MV_B6-Weekday-SDon-098500_M5_222,400725,1,2016-06-06T20:57:35,16:51:58
43,MV_B6-Weekday-SDon-098500_M5_222,400726,2,2016-06-06T20:59:05,16:53:00
19,MV_B6-Weekday-SDon-098500_M5_222,400929,5,2016-06-06T21:02:41,16:58:58
22,MV_B6-Weekday-SDon-098500_M5_222,400933,6,2016-06-06T21:13:52,17:06:24
23,MV_B6-Weekday-SDon-098500_M5_222,400936,4,2016-06-06T21:19:21,17:12:00
28,MV_B6-Weekday-SDon-098500_M5_222,403132,2,2016-06-06T21:23:05,17:16:01
0,MV_B6-Weekday-SDon-098500_M5_222,404992,7,2016-06-06T21:28:48,17:20:00
25,MV_B6-Weekday-SDon-098500_M5_222,400943,3,2016-06-06T21:30:19,17:21:23
60,MV_B6-Weekday-SDon-098500_M5_222,401014,1,2016-06-06T21:30:48,17:22:50
61,MV_B6-Weekday-SDon-098500_M5_222,401015,2,2016-06-06T21:32:05,17:23:45
62,MV_B6-Weekday-SDon-098500_M5_222,401016,2,2016-06-06T21:33:35,17:25:06
12,MV_B6-Weekday-SDon-098500_M5_222,403271,9,2016-06-06T21:40:31,17:28:11
26,MV_B6-Weekday-SDon-098500_M5_222,903218,4,2016-06-06T21:43:17,17:31:08
56,MV_B6-Weekday-SDon-098500_M5_222,400751,4,2016-06-06T21:43:17,17:31:31
...,...,...,...,...,...
63,MV_B6-Weekday-SDon-098500_M5_222,400761,1,2016-06-06T21:53:21,17:40:24
64,MV_B6-Weekday-SDon-098500_M5_222,400762,0,NaN,17:40:55
4,MV_B6-Weekday-SDon-098500_M5_222,404054,2,2016-06-06T21:54:51,17:41:53
65,MV_B6-Weekday-SDon-098500_M5_222,400764,2,2016-06-06T21:56:14,17:43:00
30,MV_B6-Weekday-SDon-098500_M5_222,403902,4,2016-06-06T21:57:58,17:44:03
6,MV_B6-Weekday-SDon-098500_M5_222,404104,2,2016-06-06T21:59:24,17:44:56
1,MV_B6-Weekday-SDon-098500_M5_222,400768,0,NaN,17:45:49
10,MV_B6-Weekday-SDon-098500_M5_222,400769,4,2016-06-06T22:01:24,17:46:30
44,MV_B6-Weekday-SDon-098500_M5_222,400599,1,2016-06-06T22:01:52,17:47:42
2,MV_B6-Weekday-SDon-098500_M5_222,400771,3,2016-06-06T22:03:42,17:48:26
3,MV_B6-Weekday-SDon-098500_M5_222,400772,0,NaN,17:49:04
46,MV_B6-Weekday-SDon-098500_M5_222,400602,1,2016-06-06T22:05:05,17:49:55
29,MV_B6-Weekday-SDon-098500_M5_222,404257,0,NaN,17:50:15
20,MV_B6-Weekday-SDon-098500_M5_222,404258,4,2016-06-06T22:07:22,17:50:53
66,MV_B6-Weekday-SDon-098500_M5_222,404821,0,NaN,17:52:17
27,MV_B6-Weekday-SDon-098500_M5_222,404019,0,NaN,17:55:00
34,MV_B6-Weekday-SDon-098500_M5_222,903236,5,2016-06-06T22:13:02,17:56:00
48,MV_B6-Weekday-SDon-098500_M5_222,400610,3,2016-06-06T22:15:22,17:57:27
49,MV_B6-Weekday-SDon-098500_M5_222,400613,3,2016-06-06T22:17:17,18:00:04
51,MV_B6-Weekday-SDon-098500_M5_222,400616,3,2016-06-06T22:20:05,18:02:28
52,MV_B6-Weekday-SDon-098500_M5_222,400619,4,2016-06-06T22:22:20,18:05:00
53,MV_B6-Weekday-SDon-098500_M5_222,400620,2,2016-06-06T22:23:17,18:06:13
54,MV_B6-Weekday-SDon-098500_M5_222,400621,1,2016-06-06T22:23:48,18:07:23
55,MV_B6-Weekday-SDon-098500_M5_222,400622,2,2016-06-06T22:25:21,18:08:36
15,MV_B6-Weekday-SDon-098500_M5_222,400623,3,2016-06-06T22:27:14,18:09:55
9,MV_B6-Weekday-SDon-098500_M5_222,400624,2,2016-06-06T22:28:49,18:10:49
16,MV_B6-Weekday-SDon-098500_M5_222,400796,5,2016-06-06T22:32:07,18:13:38
50,MV_B6-Weekday-SDon-098500_M5_222,402535,1,2016-06-06T22:32:49,18:14:52
17,MV_B6-Weekday-SDon-098500_M5_222,400798,3,2016-06-06T22:35:35,18:16:10
31,MV_B6-Weekday-SDon-098500_M5_222,903231,6,2016-06-06T22:39:02,18:18:00

In [100]:
dt = parser.parse(data2['arrival_actual_estimated'][0].split('T')[1])

In [102]:
data2['arrival_actual_estimated'][0].split('T')[1]

'21:28:48'

In [117]:
dt2 = parser.parse(data2['arrival_actual_estimated'][2].split('T')[1]) - dt

In [118]:
print dt2

datetime.timedelta(0, 2094)

In [126]:
data3 = data2.dropna()

In [135]:
parser.parse(data3['arrival_actual_estimated'][5].split('T')[1])-parser.parse(data3['arrival_actual_estimated'][4].split('T')[1])

datetime.timedelta(-1, 82321)